.bg-cover{
    background-size: cover;
    background-position: center center;
}

.text-size-h4{
    font-size: 24px;
    font-weight: bold;
}

//login page - 記住我
.form-check-input{
    height: 1.25rem;
    width: 1.25rem;

}
.form-check-label{
    margin-left: 10px;
    margin-top: 3px;
}

//mobile 滿版 : shopcart 結帳按鈕 / checkout
.negative-margin{
    margin-left: -15px;
    margin-right: -15px;

}

//shopcart 垃圾桶按鈕
.fa-trash-alt{
    font-size: 20px;
}





